.bottom-bar {
    width: 100%;
    height: 25%;
    background-color: #222831;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toggle-bottom-bar {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    cursor: pointer;
}

.tree-logs {
    width: 100%;
    height: 100%;
    padding: 5px;
}